In [41]:
gender = 'female'
age = 22

### if, elif, else

In [42]:
if gender == 'male':
    print('Mr.')
elif gender == 'female':
    print('Ms.')
else:
    pass;

Ms.

In [43]:
if (gender == 'female' and age < 30 and age > 18):
    print('Match found')
else:
    print('Not a match')

Match found

In [36]:
if (False | True):
    print('True')
else:
    print('False')

True

### for loop

In [2]:
l = [1,2,3,4,5]

for i in l:
    print(i)

1
2
3
4
5

In [3]:
s = 'sandy'
for c in s:
    print(c)

s
a
n
d
y

In [4]:
t = (1,2,3)
for i in t:
    print(i)

1
2
3

In [17]:
s = {1,2,4,3,'sandy',5}
for i in s:
    print(i)

1
2
sandy
3
4
5

In [25]:
l = [1,24, 'sandy', 1+6j, [24,2,3]]
new = []
for i in l:
    if type(i) == int:
        new.append(i)
        
new

[1, 24]

In [28]:
for i in range(len(l)):
    print(i, '=', l[i])

0 = 1
1 = 24
2 = sandy
3 = (1+6j)
4 = [24, 2, 3]

In [29]:
for i,j in enumerate(l):
    print(i, j)

0 1
1 24
2 sandy
3 (1+6j)
4 [24, 2, 3]

### for else

In [2]:
for i in 'Sandy':
    print(i)
else:
    print('for loop executed')

S
a
n
d
y
for loop executed

In [5]:
for i in 'Sandy':
    if i == 'y':
        break
    print(i)
else:
    print('for loop completed.')

S
a
n
d

### while

In [11]:
a = 1

while a < 6:
    print(a)
    a+=1

1
2
3
4
5

In [3]:
a = 0

while a < 6:
    a+=1
    if a%2 == 0:
        continue
    print(a)

1
3
5

### Patterns using loops

In [18]:
for i in range(int(input("Enter the number of lines: ")) + 1):
    for j in range(i):
        print('$', end=' ')
    print()

Enter the number of lines: 10

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

### reverse string

In [20]:
l = 'Sandeshwar'

l[::-1]

'rawhsednaS'

In [25]:
''.join(list(reversed(l)))

'rawhsednaS'

In [33]:
s = ''
for i in range(len(l) - 1, -1, -1):
    s+=l[i]
print(s)

rawhsednaS

In [34]:
i = len(s) - 1

while i >= 0:
    print(l[i], end='')
    i-=1

rawhsednaS

In [35]:
i = -1

while i >= -len(s):
    print(l[i], end='')
    i-=1

rawhsednaS

In [37]:
s = 'ineuron'

for c in s:
    if c.lower() in 'aeiou':
        print(c, ' is a vowel')
    else:
        print(c, 'is a consonant')

i  is a vowel
n is a consonant
e  is a vowel
u  is a vowel
r is a consonant
o  is a vowel
n is a consonant

# Practise questions

### Check whether string is a palindrome

In [48]:
l = ['Sandeshwar','Wow','Madam','level','Thakur']

for w in l:
    if w[::-1].lower() == w.lower():
        print(w, 'is a palindrome')
    else:
        print(w, 'is NOT a palindrome')

Sandeshwar is NOT a palindrome
Wow is a palindrome
Madam is a palindrome
level is a palindrome
Thakur is NOT a palindrome

In [56]:
w = 'Malayalam'

if w[:len(w)//2].lower() == w[-1:len(w)//2:-1]:
    print('Palindrome')
else:
    print('Not a palindrome')

Palindrome

In [80]:
w = 'leveel'

tocheck = len(w)//2

flag = True
for i in range(0,tocheck):
    if w[i].lower() != w[len(w)-(i+1)].lower():
        flag = False
        break;
print('Palindrome') if flag else print('Not a palindrome')

Not a palindrome

In [81]:
w = 'Eye'

tocheck = len(w)//2

flag = True
for i in range(0,tocheck):
    if w[i].lower() != w[len(w)-(i+1)].lower():
        print('Not a palindrome')
        break;
else:
    print('Palindrome')

Palindrome

### Check if a key exists in a dictionary

In [90]:
c = {"India": "In", "United States": "US", "United Kingdom": "UK"}

In [83]:
"India" in c

True

In [84]:
"US" in c

False

In [88]:
"United states" in c

False

In [89]:
"United States" in c

True

### Classify keys based on len

In [100]:
c = {"India": "In", "United States": "US", "United Kingdom": "UK"}

lt, gt = [], []
for k in c.keys():
    if len(k) > 5:
        gt.append(k)
    else:
        lt.append(k)
    
print(lt, ',' ,gt)

['India'] , ['United States', 'United Kingdom']

In [98]:
lt, gt = [], []
[gt.append(k) if len(k) > 5 else lt.append(k) for k in c.keys()]

print(lt, ',' ,gt)

['India'] , ['United States', 'United Kingdom']

### Find max value from nested dicts

In [102]:
d = {
        'India': {'Jan': 1202, 'Feb': 239, 'March': 93},
        'Australia': {'Jan': 202, 'Feb': 390, 'March': 293}
    }

In [127]:
for k, v in d.items():
    print(f'{k:10}', end=' : ')
    _max = ('', 0)
    for j, u in v.items():
        if u > _max[1]:
            _max = j, u
    else:
        print(_max)

India      : ('Jan', 1202)
Australia  : ('Feb', 390)

In [142]:
d = {
        'India': {'Jan': 1202, 'Feb': 239, 'March': 93},
        'Australia': {'Jan': 202, 'Feb': 390, 'March': 293},
        'Single': -99999,
        'Tuple': (2,4,1,5),
        'List': [251,2,33,5,12],
        'Set': {2,5,10,2100},
        'String': 'Sandeshwar'
    }

_max = []
for v in d.values():
    if type(v) == int:
        _max.append(v)
    elif type(v) in [list, tuple, set]:
        _max.append(max(v))
    elif type(v) == dict:
        _max.append(max(v.values()))
    else:
        pass
                    
print(max(_max))

2100