### Syntax

In [4]:
def just_pass():
    pass

just_pass()

In [7]:
def another_function():
    print('Just another function!')

another_function()

Just another function!

In [11]:
val = another_function()
print(val)
print(type(val))
print(type(another_function))

Just another function!
None
<class 'NoneType'>
<class 'function'>

### Return a value from function

In [14]:
def my_name():
    return 'Sandeshwar'

my_name()

'Sandeshwar'

In [18]:
def return_many():
    return 1, 'Sandy', (1,4,3)

print(type(return_many()))
print(return_many())

<class 'tuple'>
(1, 'Sandy', (1, 4, 3))

In [22]:
# tuple unpacking
a,b,c = return_many()

b

'Sandy'

### Pass args to function

In [48]:
l = [1,2,4,1,2, 'Sandy', ['12',2], (1,), 3]

# Find integer values in a list
def find_ints(_list):
    new = []
    if type(_list) == list:
        for i in _list:
            if type(i) == int:
                new.append(i)
    return new

find_ints(l)

[1, 2, 4, 1, 2, 3]

### Print pattern

In [73]:

def draw_pattern(n = 2, c = '*'):
    '''Use this function to print patterns
    n: number of rows
    c: the character to use
    '''
    for i in range(n + 1):
        for j in range(i):
            print(c, end=' ')
        print()

In [74]:
draw_pattern(3, '.')

.
. .
. . .

In [75]:
help(draw_pattern)

Help on function draw_pattern in module __main__:

draw_pattern(n=2, c='*')
    Use this function to print patterns
    n: number of rows
    c: the character to use

### Variable length args

In [1]:
def var_args(*args):
    return args

In [2]:
var_args(1,22,3,4,5,)

(1, 22, 3, 4, 5)

In [4]:
var_args(1,22,3,4,5,'12','23', (1,2,3), [123,2], 1+2j)

(1, 22, 3, 4, 5, '12', '23', (1, 2, 3), [123, 2], (1+2j))

### Keyword args

In [5]:
def keyword_args(**kwargs):
    return kwargs

In [8]:
keyword_args(students = ['Riya', 'Ayushi', 'Divya'], marks = [77,62,39])

{'students': ['Riya', 'Ayushi', 'Divya'], 'marks': [77, 62, 39]}

In [10]:
keyword_args(name='Riya', marks=77, age=23)

{'name': 'Riya', 'marks': 77, 'age': 23}

In [12]:
def both(*args, **kwargs): # will not work if arguments' order is changed
    return args, kwargs

In [13]:
both(1,2,3,name='Sandy',age=28)

((1, 2, 3), {'name': 'Sandy', 'age': 28})

### Lambda function (anonymous function)

In [14]:
add = lambda x,y: x+y

In [15]:
add(2,4)

6

In [21]:
addAll = lambda *a: sum(a)

In [23]:
addAll(1,2,4,5)

12

In [39]:
x = lambda x: [i*2 for i in x]

In [40]:
x([1,2,3])

[2, 4, 6]