In [11]:
# basic class syntax
class Car:
    pass

In [16]:
# initialize an object of Car class
o = Car()

### Everything is a class in python

In [29]:
print(type(o))

<class '__main__.Car'>

In [26]:
l = [1,2]
print(type(l))

<class 'list'>

In [27]:
s = 's'
print(type(s))

<class 'str'>

In [28]:
i = 1
print(type(i))

<class 'int'>

### Simple class

In [67]:
class Car:
    def __init__(self, name, brand, price, fuel):
        self.name = name
        self.brand = brand
        self.price = price
        self.fuel = fuel
    
    def to_string(s):
        print(f""" Name: {s.name} \n Brand: {s.brand} \n Price: {s.price} \n Fuel type: {s.fuel}
        """)

In [68]:
thar = Car('Thar', 'Mahindra', 1400000, 'petrol')

In [69]:
thar.to_string()

 Name: Thar
 Brand: Mahindra
 Price: 1400000
 Fuel type: petrol

### Inheritance

In [88]:
class Vehicle(object):
    def __init__(self, vtype, seats, wheels):
        self.vtype = vtype
        self.wheels = wheels
        self.seats = seats
        
    def tostring(self):
        print('Type:', self.vtype, 'Wheels:', self.wheels, 'Seats:', self.seats)

In [101]:
class Car(Vehicle, object): # multi class inheritence is possible too (comma separted name of classes)
    def __init__(self, brand, seats):
        self.brand = brand
        
        Vehicle.__init__(self,'Car', seats, 4)

In [102]:
c = Car('Ferrari', 2)

In [100]:
c.tostring()

Type: Car Wheels: 4 Seats: 2